.body{
    background-image: url(./assests/color-shape-simetris-dark-background_682332-28.jpg);
    background-size: cover;
   
    

#h1{
    text-align: center;
    color: antiquewhite;
    font-style: oblique;
}


}
.div1{
    border:2px solid white;
    border-radius: 50px;
    border-color:rgb(15, 15, 69);
    background-color: rgba(29, 29, 98, 0.405);
    width: 400px;
    height: 400px;
    position: relative;
    top: 200px;
    left: 430px;
}

 
.div2{
   
    position: relative;
    top: 50px;
    left: 80px;
    
    
}
.div2 input{
      border-radius: 50px;
     width:200px;
    
     padding-left: 50px;
    height: 30px;
   margin: 20px;
   
 
}
 
.login{
   
    border-radius: 50px;
    background-color: aquamarine;
   
    width: 90px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(30, 30, 79);
    background-color;
    position: relative;
    top:80px;
    left:170px
}
.img{
    width:30px;
    position: relative;
    top:-100px;
    left:110px;
}
#img{
    width:30px;
    position: relative;
    top:-24px;
    left:75px;
}

.a{
    text-decoration: none;
    font-size: 13px;
    margin-left: 150px;
    color: antiquewhite;
}


